.inputContainer {
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: rgb(124, 109, 109);
}

.input {
  align-items: center;
}

.inputText {
  font-size: 22px;
  max-width: 200px;
}

.button {
  min-width: 100px;
  margin-left: 20px;
}
